option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/mysite/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings
    PYTHONPATH: /opt/python/current/app/django_app:$PYTHONPATH
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py migrate --noinput"
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py createsu"
    leader_only: true
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  05_remove_old_cron_jobs:
    command: "crontab -r || exit 0"
//  06_cronjobs:
//    command: "cat .ebextensions/cron.txt | crontab"
//    leader_only: true

